In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('RAD_GLO.DAT')

In [33]:
df

       4202783070133  0  0  0  8 33 80 98113 95 98 93 75 48 11  0  0 752 -1020519      19
0       4202783070233  0  0  0 21 57 65129138137132116...
1       4202783070333  0  0 19 39 54 74 38 23 44109 42...
2       4202783070433  0  0 10 38 50 -1 82 -1 -1 -1 -1...
3       4202783070533  0  0 -1 -1 -1 -1 94 85115 89 80...
4       4202783070633  0  0 -1 -1 -1 -1 -1 -1 -1 -1 57...
...                                                   ...
487282  4337123092633  0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1...
487283  4337123092733  0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1...
487284  4337123092833  0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1...
487285  4337123092933  0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1...
487286  4337123093033  0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1...

[487287 rows x 1 columns]

In [34]:
df.reset_index(drop=True, inplace=True)

In [35]:
data = df.set_axis(["records"], axis=1)

In [36]:
import pandas as pd
import numpy as np

def convert_chunk(chunk):
    if chunk.strip() == "-1":
        return np.nan
    if chunk and chunk[0] == ' ':
        num = chunk.strip()
        try:
            return float("0." + num) if num else np.nan
        except:
            return np.nan
    else:
        chunk_str = chunk.strip()
        if len(chunk_str) == 3:
            try:
                return float(chunk_str[0] + "." + chunk_str[1:])
            except:
                return np.nan
        elif len(chunk_str) == 2:
            try:
                return float(chunk_str[0] + "." + chunk_str[1])
            except:
                return np.nan
        else:
            try:
                return float(chunk_str)
            except:
                return np.nan

def convert_dtrad(chunk):
    fld = chunk.strip()
    if fld == "-1" or fld == "":
        return np.nan
    fld = fld.zfill(4)
    try:
        return float(fld[:2] + "." + fld[2:])
    except:
        return np.nan

def parse_fixed_width(record):
    fixed_rec = record[:65]
    if len(fixed_rec) < 65:
        fixed_rec = fixed_rec.ljust(65)
    rec_id = fixed_rec[:13]
    hourly_str = fixed_rec[13:61]
    dtrad_str = fixed_rec[61:65]
    hourly_chunks = [hourly_str[i:i+3] for i in range(0, len(hourly_str), 3)]
    hourly_values = [convert_chunk(chunk) for chunk in hourly_chunks]
    dtrad_value = convert_dtrad(dtrad_str)
    return [rec_id] + hourly_values + [dtrad_value]

df = pd.DataFrame(data)
parsed_series = df['records'].apply(parse_fixed_width)
cols = ["ID", "05HR", "06HR", "07HR", "08HR", "09HR", "10HR", "11HR", "12HR", "13HR", "14HR", "15HR", "16HR", "17HR", "18HR", "19HR", "20HR", "DTRAD"]
df = pd.DataFrame(parsed_series.tolist(), columns=cols)
print(df)

                   ID  05HR  06HR  07HR  08HR  09HR  10HR  11HR  12HR  13HR  \
0       4202783070233   0.0   0.0  0.00  0.21  0.57  0.65  1.29  1.38  1.37
1       4202783070333   0.0   0.0  0.19  0.39  0.54  0.74  0.38  0.23  0.44
2       4202783070433   0.0   0.0  0.10  0.38  0.50   NaN  0.82   NaN   NaN
3       4202783070533   0.0   0.0   NaN   NaN   NaN   NaN  0.94  0.85  1.15
4       4202783070633   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...               ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
487282  4337123092633   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
487283  4337123092733   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
487284  4337123092833   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
487285  4337123092933   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
487286  4337123093033   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

        14HR  15HR  16HR  17HR  18HR  19HR  20HR  DTRAD
0       1.32  1.16  0.93  0.56  0.40   0.0   0.0   9.48
1       1.09  0.42  0.14  0.10  0.00   0.0   0.0   4.66
2        NaN   NaN   NaN   NaN   NaN   0.0   0.0    NaN
3       0.89  0.80  0.37  0.20  0.00   0.0   0.0    NaN
4        NaN  0.57  0.69  0.62  0.14   0.0   0.0    NaN
...      ...   ...   ...   ...   ...   ...   ...    ...
487282   NaN   NaN   NaN   NaN   NaN   0.0   0.0    NaN
487283   NaN   NaN   NaN   NaN   NaN   0.0   0.0    NaN
487284   NaN   NaN   NaN   NaN   NaN   0.0   0.0    NaN
487285   NaN   NaN   NaN   NaN   NaN   0.0   0.0    NaN
487286   NaN   NaN   NaN   NaN   NaN   0.0   0.0    NaN

[487287 rows x 18 columns]

In [28]:
df.fillna(-1, inplace=True)
print(df)

                   ID  05HR  06HR  07HR  08HR  09HR  10HR  11HR  12HR  13HR  \
0       4202783070233   0.0   0.0  0.00  0.21  0.57  0.65  1.29  1.38  1.37
1       4202783070333   0.0   0.0  0.19  0.39  0.54  0.74  0.38  0.23  0.44
2       4202783070433   0.0   0.0  0.10  0.38  0.50 -1.00  0.82 -1.00 -1.00
3       4202783070533   0.0   0.0 -1.00 -1.00 -1.00 -1.00  0.94  0.85  1.15
4       4202783070633   0.0   0.0 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00
...               ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
487282  4337123092633   0.0  -1.0 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00
487283  4337123092733   0.0  -1.0 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00
487284  4337123092833   0.0  -1.0 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00
487285  4337123092933   0.0  -1.0 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00
487286  4337123093033   0.0  -1.0 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00 -1.00

        14HR  15HR  16HR  17HR  18HR  19HR  20HR  DTRAD
0       1.32  1.16  0.93  0.56  0.40   0.0   0.0   9.48
1       1.09  0.42  0.14  0.10  0.00   0.0   0.0   4.66
2      -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00
3       0.89  0.80  0.37  0.20  0.00   0.0   0.0  -1.00
4      -1.00  0.57  0.69  0.62  0.14   0.0   0.0  -1.00
...      ...   ...   ...   ...   ...   ...   ...    ...
487282 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00
487283 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00
487284 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00
487285 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00
487286 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00

[487287 rows x 18 columns]

In [29]:
df["CityID"] = df["ID"].str[:5]
df["Year"] = df["ID"].str[5:7]
df["Month"] = df["ID"].str[7:9]
df["Date"] = df["ID"].str[9:11]
df["Special"] = df["ID"].str[11:13]
cols = ["CityID", "Year", "Month", "Date"] + [c for c in df.columns if c not in ["ID", "CityID", "Year", "Month", "Date", "Special"]] + ["Special"]
df = df[cols]
print(df)

       CityID Year Month Date  05HR  06HR  07HR  08HR  09HR  10HR  ...  13HR  \
0       42027   83    07   02   0.0   0.0  0.00  0.21  0.57  0.65  ...  1.37
1       42027   83    07   03   0.0   0.0  0.19  0.39  0.54  0.74  ...  0.44
2       42027   83    07   04   0.0   0.0  0.10  0.38  0.50 -1.00  ... -1.00
3       42027   83    07   05   0.0   0.0 -1.00 -1.00 -1.00 -1.00  ...  1.15
4       42027   83    07   06   0.0   0.0 -1.00 -1.00 -1.00 -1.00  ... -1.00
...       ...  ...   ...  ...   ...   ...   ...   ...   ...   ...  ...   ...
487282  43371   23    09   26   0.0  -1.0 -1.00 -1.00 -1.00 -1.00  ... -1.00
487283  43371   23    09   27   0.0  -1.0 -1.00 -1.00 -1.00 -1.00  ... -1.00
487284  43371   23    09   28   0.0  -1.0 -1.00 -1.00 -1.00 -1.00  ... -1.00
487285  43371   23    09   29   0.0  -1.0 -1.00 -1.00 -1.00 -1.00  ... -1.00
487286  43371   23    09   30   0.0  -1.0 -1.00 -1.00 -1.00 -1.00  ... -1.00

        14HR  15HR  16HR  17HR  18HR  19HR  20HR  DTRAD  Special
0       1.32  1.16  0.93  0.56  0.40   0.0   0.0   9.48       33
1       1.09  0.42  0.14  0.10  0.00   0.0   0.0   4.66       33
2      -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00       33
3       0.89  0.80  0.37  0.20  0.00   0.0   0.0  -1.00       33
4      -1.00  0.57  0.69  0.62  0.14   0.0   0.0  -1.00       33
...      ...   ...   ...   ...   ...   ...   ...    ...      ...
487282 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00       33
487283 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00       33
487284 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00       33
487285 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00       33
487286 -1.00 -1.00 -1.00 -1.00 -1.00   0.0   0.0  -1.00       33

[487287 rows x 22 columns]

In [30]:
df.to_csv("Total_RAD_GLOB.csv", index=False)

In [21]:
df.to_csv("Total_RAD_GLOB_Missing_Handled.csv", index=False)